# Web Framework
fastapi
uvicorn

# Data Validation
pydantic
pydantic-settings

# LangChain
langchain
langchain-community
langchain-ollama
langchain-core
langchain-text-splitters

# Embeddings
sentence-transformers

# Vector Store
chromadb

# PDF Loading
pdfminer.six
pypdf
pdfplumber


# HTML Loading
beautifulsoup4
lxml

# Utilities
numpy
python-dotenv

# Caching
fastapi-cache2

# Rate Limiting
slowapi